@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  /* height: 100vh; */
  /* min-height: 100vh; */
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: white;
  background-color: #1a2330;
}

#__next{
  width: 100%;
  height: calc(100vh - 25px);
  max-width: 479px;
  
  background-color: #1a2330;
  padding: 10px;
}

.roulette-pro-regular-design-top{
  background: rgba(255, 255, 255, 0.477) !important;
  border: none;
}
.roulette-pro-regular-image-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.roulette-pro-regular-prize-item-image{
  border-radius: 20px;
  /* height: 100%;
  aspect-ratio: 1/1; */
}

