$checkbox-color: #675977;
$checked-color: #4caf50;

.checkBox {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 2px solid $checkbox-color;
  background-color: transparent; /* default background color */
  padding: 4px;

  .innerDiv {
    width: 100%;
    height: 100%;
    background-color: $checkbox-color;
    border-radius: 50%;
    content: none;

    &.checked {
      background-color: $checked-color;
    }
  }
  &.checked {
    border: 2px solid $checked-color;
  }
}
